@model IEnumerable<CineExplorer.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@if (User.Identity.Name == "admin@testmail.com")
{
    <p>
        <a href="/Movie/Create" class="btn btn-primary">Create New</a>
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Release Year: @item.ReleaseYear</p>
                    <a href="/Movie/Details/@item.MovieId" class="btn btn-primary">Details</a>
                    @if (User.Identity.Name == "admin@testmail.com")
                    {
                        <a href="/Movie/Edit/@item.MovieId" class="btn btn-warning">Edit</a>
                        <a href="/Movie/Delete/@item.MovieId" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>